.features {
  background-color: hsl(220, 16%, 96%);
  width: 100%;
  display: flex;
  align-items: center;
}

.featureIsideDiv {
  padding-left: 80px;
  padding-right: 80px;
}

.featureIsideDiv h1 {
  font-weight: 300;
  font-size: 50px;
  color: hsl(233, 26%, 24%);
}

.featureIsideDiv p {
  font-weight: 400;
  color: hsl(233, 8%, 62%);
  margin-bottom: 40px;
  line-height: 25px;
}

.cards {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width: 767px) {
  .features {
    flex-direction: column;
    text-align: center;
    overflow: hidden;
  }

  .cards {
    flex-direction: column;
  }
}
